.wrapper {
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-auto-rows: 800px;
}

.controls {
  grid-column: 2;
  width: 100%;
}

#view {
  grid-column: 1;
  width: 100%;
  height: 100%;
}

#pitch-class {
  width: 4px;
}
